[Unit]
Description=Hourly Timer

[Timer]
OnBootSec=10min
# Time-ranges https://www.freedesktop.org/software/systemd/man/systemd.time.html 
OnCalendar=hourly
Unit=hourly-timer.target

[Install]
WantedBy=basic.target
